body{background-color: rgb(194, 125, 142);}
h1.waw{border-radius: 15px;}
html{padding-left: 400px;
padding-right: 50px;
padding-bottom: 50px;
padding-bottom: 50px;}
h1.waw{padding-left: 700;}
#sub{border-radius: 15px;}